{% extends 'admin/admin_base.html' %}

{% block title %}
    Blog -帮助
{% endblock %}

{% block admin_content %}
<div class="entry-box">
    <h4><strong>Blog帮助页面</strong></h4>
    <hr/>
    <h5 style="color: #337ab7"><strong>1.Blog_mini是什么？</strong></h5>
    <p>
        &nbsp;&nbsp;&nbsp;Blog是一个开源的个人博客系统，其采用Web框架为Flask，
        有如下主要特点：
    </p>
    <p>
        1.简洁的用户界面，使用前端框架为Bootstrap，支持响应式
    </p>
    <p>
        2.强大的后台管理功能，一旦部署完成，即可轻松管理你的博客
    </p>
    <p>
        3.通俗易懂的源代码，代码不会很复杂，方便阅读和理解
    </p>
    <p>
        &nbsp;&nbsp;&nbsp;由于其具有以上特点，因此使用Blog来作为个人博客平台，是一个非常不错的选择！
    </p>
</div>
{% endblock %}